[Unit]
Description=NetSpot: A basic IDS with statistical learning

[Service]
ExecStart=/usr/local/bin/netspot -c /etc/netspot/netspot.toml -l 1 
User=netspot
Type=simple

[Install]
WantedBy=multi-user.target
