body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto';
}

.bg {
    /* The image used */
    /* margin: -1em -0.5em; */
    /* background-image: url("/assets/cable.webp"); */
    /* background-image: url("/assets/switch.jpeg"); */
    background-image: url("/assets/favicon.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing {
    position: fixed;
    width: 100%;
    top: 25vh;
    /* margin: 0 20%; */
    /* text-align: left; */
}

h1 {
    font-weight: 800;
    font-size: 10em;
    margin: 0;
    width: 100%;
    /* text-align: right; */
}

h2 {
    font-weight: lighter;
    width: 100%;
    /* text-align: left; */
    font-size: 2em;
    margin: 0;
    margin-bottom: 1em;
    margin-top: -0.25em;
}

.container {
    width: 80%;
    margin-left: 20%;
    margin-top: 1em;
}

.center {
    width: 100%;
    margin: 0 auto;
    /* text-align: center; */
}

.button {
    color: white;
    background-color: var(--celadon-blue);
    border: solid 2px var(--celadon-blue);
    border-radius: 8px;
    text-decoration: none;
    padding: 0.5em 1em;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    margin-right: 0.25em;
}

.button-inv {
    color: var(--celadon-blue);
    background-color: transparent;
    border: solid 2px var(--celadon-blue);
    border-radius: 8px;
    text-decoration: none;
    padding: 0.5em 1em;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
}

.button:hover {
    background-color: var(--prussian-blue);
    border: solid 2px var(--prussian-blue);
}

.button-inv:hover {
    color: var(--prussian-blue);
    border: solid 2px var(--prussian-blue);
}

#background {
    height: 100%;
    animation-name: slidein;
    animation-duration: 60s;
}

@keyframes slidein {
    from {
        /* margin-left: 100%; */
        transform: scale(1.2);
    }
    to {
        /* margin-left: 0%; */
        /* width: 100%; */
        transform: scale(2);
    }
}

:root {
    --logo: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="1000" height="1000" viewBox="0 0 170 170"><g transform="rotate(-45)"><g transform="translate(-60,60)"><rect x="10" y="10" width="100" height="100" fill="transparent" stroke="#1095c1" stroke-width="10"/><path d="M 35 35 h 50 v 50" fill="transparent" stroke="#1095c1" stroke-width="10"/><path d="M 35 85 l 50 -50" fill="transparent" stroke="#1095c1" stroke-width="10"/></g></g></svg>');
}